.bg {
    width: 1920px;
    height: 1080px;
    background-image: url("../../../assets/image/index_3_1_bg.png");
    background-repeat: no-repeat;
}
.list {
    position: absolute;
    top: 405px;
    left: 1320px;
    width: 341px;
    height: 505px;
}
.menu {
    width: 341px;
    height: 105px;
    line-height: 105px;
    color: #ffffff;
    font-size: 30px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 23px;
    background-image: url("../../../assets/image/index_3_1_menu.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.tese {
    position: absolute;
    top: 294px;
    left: 877px;
    width: 527px;
    height: 546px;
    background-image: url("../../../assets/image/index_3_1_tese.png");
    background-repeat: no-repeat;
}
.menu_0 {
    position: absolute;
    top: 890px;
    left: 1568px;
    width: 78px;
    height: 78px;
    background-image: url("../../../assets/image/button_left.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.menu_1 {
    position: absolute;
    top: 890px;
    left: 1785px;
    width: 78px;
    height: 78px;
    background-image: url("../../../assets/image/button_right.png");
    background-repeat: no-repeat;
    cursor: pointer;
}
.back {
    position: absolute;
    bottom: 105px;
    right: 153px;
    width: 95px;
    height: 95px;
    background-image: url("../../../assets/image/button_back.png");
    background-repeat: no-repeat;
    cursor: pointer;
}